!!! 5
html
	head
		meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
		title #{title}
		link(rel='stylesheet', href="/css/packery.css")

		script(type='text/javascript', src='//code.jquery.com/jquery.min.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/vendor/packery.pkgd.min.js')
		script(type='text/javascript', src='/js/packery.js')

	body
		p Do something here

		#container
			.item
			.item
			.item.w2
			.item
			.item
			.item
			
